 <% if @errors %>
    <section class = "errors-wrapper">
    <%= erb :"_errors" %>
    </section>
  <% end %>

<section class = "form-wrapper">
  <h3>Login</h3>
  <form id="login-form" action='/login' method='post'>
    <input type="text" name="email" placeholder="email"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="Submit">
  </form>
</section>
