
  <script src="/js/form.js"></script>

    <main>
      <div id="jumbotron"><img src='/media/headphones.png'></div>
      <hr class="star-light">
      <h1>Tune in & tune up</h1>
      <h3>Audio to help you concentrate.</h3>
      <div id='mainpage-button'>
        <button><a href='/users/new'>Sign Up Now</a></button>
      </div>
    </main>

<!--   <section id="input-form">
    <form id='time-form' action='/theaters/show'>
      <input type='text' name='inteval' placeholder='how long? (minutes)'>
      <input type='submit' value='go'>
    </form>
  </section> -->




