<div class="container">
  <script src="/js/form.js"></script>
  <h1>StudyHabits</h1>

  <section id="input-form">
    <form id='time-form' action='/theaters/show'>
      <input type='text' name='inteval' placeholder='how long? (minutes)'>
      <input type='submit' value='go'>
    </form>
  </section>
<!--
  <a href="/theaters/show">go</a> -->


</div>
