
<!-- <script src="/js/timer.js"></script> -->
<script src="/js/ajaxTheater.js"></script>

  <section id="input-form">
    <form id='time-form' action='/theaters/show'>
      <input type='text' name='inteval' placeholder='how long? (minutes)'>
      <input type='submit' value='go'>
    </form>
  </section>

<div id="player"></div>

<div class='content-description'></div>
