
<script src="/js/timer2.js"></script>
<script src="/js/application2.js"></script>

<main>
   <div class='theaterContainer'>
    <br>
    <div id="player"></div>
    <div class='content-description'>
  </div>
  <div id='timer'><div>
</main>
