<!DOCTYPE html>
<html>
<script src="/js/timer.js"></script>
  <body>

   <div class='theaterContainer'>
    <br>
    <div id="player"></div>
    <div class='content-description'>
  </div>
  </body>

</html>
